{% extends "cats_shop/base.html" %}

{% block meta_title %}Detailed{% endblock meta_title%}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="text-center">
                <div class="col-lg-12">
                    <h3>Detailed information</h3>
                </div>
            </div>

            <div class="col-md-3">
                <!-- <p class="lead">Shop Name</p>
                 <div class="list-group">
                     <a href="#" class="list-group-item active">Category 1</a>
                     <a href="#" class="list-group-item">Category 2</a>
                     <a href="#" class="list-group-item">Category 3</a>
                 </div>-->
            </div>


            <div class="col-md-6">
                {% for album in cat.album_set.all %}
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ album.photo.url }}" alt="">
                    <br>
                    {% endfor %}
                    <div class="caption-full">
                        <h4 class="pull-right">{{cat.price}}$</h4>
                        <h4>Breed: {{cat.breed}}</h4>
                        <p>About: {{cat.desc}}</p>
                        <p>Sex: {{cat.sex}}</p>
                        <p>Color: {{cat.cat_color}}</p>
                        <p>Date added: {{cat.date}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}