{% extends "cats_shop/base.html" %}

{% block meta_title %}Home{% endblock meta_title%}

{% block content %}
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="text-center jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>The world's best CatsShop will appear here soon :)</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>-->
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="text-center">
            <div class="col-lg-12">
                <h3>Latest updates</h3>
            </div>
        </div>
        <!-- /.row -->


        <!-- Page Features -->
        {% for cat in cats_list %}
        <div class="text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                {% for album in cat.album_set.all %}
                {% if forloop.first %}
                <div class="thumbnail">
                    <img src="{{ album.photo.url }}" alt="">
                    {% endif %}
                    {% endfor %}
                    <div class="caption">
                        <h3>{{cat.breed}}</h3>
                        <p>{{cat.breed.desc}}</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="cat/{{ cat.pk }}" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
