{% extends "cats_shop/base.html" %}

{% load crispy_forms_tags %}

{% block meta_title %}Log in{% endblock meta_title%}

{% if request.GET.status_message %}
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>{{ request.GET.status_message }}</p>
      </div>
    </div>
  </div>
{% endif %}

{% block content %}

<div class="container">
  {% crispy form %}
</div>

{% endblock content %}
